<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/css/bootstrap.min.css' static %}">
    <title>Landing Page</title>
  </head>
  <body>
      <div class="jumbotron justify-content-center">
        <h1>Halo, apa kabar?</h1>
        {% for post in data %}
        <div class="card">
            <div class="d-flex flex-row flex-wrap justify-content-center">
                <div class="card-body">
                    <p class="card-text">{{ post.getStatus }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <form method="post" action=''>
            {% csrf_token %}
            {{ form.as_p }}
            <button name="post" type="submit" class="btn btn-priamary">Post</button>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>